.maintains{
    min-height: 290px;
    width: 37px;
    padding: 10px;
    display: block;
}
#maintains-container{
    height: 90%;
}

#maintains-container > div:first-child {
    height: 50%; 
    background-color: #D4D4D4;
} 

#maintains-container > div:last-child{
    height: 50%; 
    background-color:green;
}

#maintains-bottom{
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#maintains-bottom > .iconify {
    justify-content: center;
    align-items: center;
    height: 10%;
    color: #525252;
    font-size: 30px;
}

.maintain-overlay {
    position: relative;
    height: 0;
    left: 3px;
    top: -20px;
}
