.graphs {
    display:flex;
    flex-direction: row;
    min-width: 400px;
    min-height: 400px;
    max-width: 829px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    padding-bottom: 40px;
}

.graphs-left {
    width: 45px;
    position: relative;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphs-left > p {
    position: absolute;
    bottom: 100px;
    left: 15px;
    width: 215px;
    transform: rotate(270deg);
    transform-origin: 0 0;
}

.graphs-right {
    height: 100%;
    width: 100%;
}
.graphs-right > canvas {
    height: 100%;
    width: 100%;
}
.graphs-top {
    /* height: 45px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.graphs-top > p {
    color: blue;
}

#graphs {
    background-color: #DDDDDD;
}

