.maintains{
    min-height: 200px;
    padding: 10px;
    display: block;
}
#maintains-container{
    height: 80%;
}

#maintains-container > div:first-of-type{
    height: 30%; 
    background-color: #D4D4D4;
} 

#maintains-container > div:last-child{
    height: 70%; 
    background-color:green;
}

#maintains-bottom{
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#maintains-bottom > .iconify {
    justify-content: center;
    align-items: center;
    color: #525252;
    font-size: 30px;
}
