header {
  height: 50px;
  position: fixed;
  width: 100%;
  margin: 0px 50px 50px 0px;
  background-color: #FDFBF7;
  margin-bottom: 10px;
  border-bottom: 3px solid #388DA6;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header > div {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header > h2 {
  padding-left: 70px;
  margin: 0px 0px 0px 35px;
}


.batch > * {
  display: flex;
  font-size: 15px;
  color: #525252;
}

#batchNr {
  border-bottom: 1px solid #C4C4C4;
  box-sizing: border-box;
  margin-right: 30px;
}
#batchNr::after {
  content: "▼";
  font-size: 10px;
  color: #388DA6;
  padding-top: 4px;
}

input[type=text] {
  font-size: 12px;
  margin-right: 0;
  color: #388DA6;
  background:transparent;
  border: none;
  border-bottom: 1px solid #C4C4C4;
}

.custom-select {
  position: relative;
  font-family: Arial;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 80%;
  left: -45px;
  right: 40px;
  z-index: 99;
}

.select-hide {
  display: none;
}
