header {
  height: 50px;
  position: fixed;
  width: 100%;
  margin: 0px 50px 50px 0px;
  background-color: #FDFBF7;
  margin-bottom: 10px;
  border-bottom: 3px solid #388DA6;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header > h2 {
  margin: 0px 0px 0px 90px;
}