header {
  height: 50px;
  position: fixed;
  width: 100%;
  margin: 0px 50px 50px 0px;
  background-color: #FDFBF7;
  margin-bottom: 10px;
  border-bottom: 3px solid #388DA6;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header > h2 {
  margin: 0px 0px 0px 90px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/

.select-hide {
  display: none;
}
