0@font-face {
  font-family: robofont;
}
body {
  background-color: #FDFBF7;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

.main {
  margin: 60px auto;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'btOverView    inventoryST maintains'
  'graphs        ptime       ptime'
  'graphs        buttons     buttons'
  'graphs        abort       abort';
}

.grid-container > div {
  background-color: #C4C4C4;
  margin: 5px;
}


.sidenav {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #525252;
  overflow-x: hidden;
  padding-top: 83px;
  width: 70px;
}
.sidenav > .iconify {
  border: solid 2px;
  box-sizing: border-box;
  font-size: 40px;
  margin: 7px;
  color: #BDBDBD;
}


header {
  height: 50px;
  position: fixed;
  width: 100%;
  margin: 0px 50px 50px 0px;
  background-color: #FDFBF7;
  margin-bottom: 10px;
  border-bottom: 3px solid #388DA6;
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header > h2 {
  padding-left: 70px;
  margin: 0px 0px 0px 35px;
}


.batch {
  display:flex;
}

.batch > p {
  display: flex;
  font-size: 15px;
  margin: 0px 20px 0px 30px;
  color: #525252;
}

#batchNr {
  border-bottom: 1px solid #388DA6;
  box-sizing: border-box;
}
#batchNr::after {
  content: url('https://api.iconify.design/dashicons:arrow-down.svg?height=20');
  color: #388DA6;
  vertical-align: -0.125em;
  padding-left: 20px;
}


.btOverView {
  grid-area: btOverView;
}
.btOvRow {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap ;

}
.btOvRow > div {
  background-color: #D4D4D4;
  color: #000;
  margin: 10px 10px 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 130px;
  padding: 3px;
}
.inventoryST {
  grid-area: inventoryST;
}
.maintains {
  grid-area: maintains;
}
.graphs {
  grid-area: graphs;
  display:flex;
  flex-direction: row;
}
.graphs-left {
  width: 45px;
  position: relative;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphs-left > p {
  position: absolute;
  bottom: 100px;
  left: 15px;
  width: 215px;
  transform: rotate(270deg);
  transform-origin: 0 0;
}
.graphs-top {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graphs-top > p {
  color: blue;
}

#graphs {
  background-color: #DDDDDD;
  margin-bottom: 45px;
  margin-right: 20px;
}

.ptime::before{
  content: "ALE PRODUCTION";
  position: absolute;
  margin-top: -60px;
  font-size: 16px;
  font-weight: 400;
}
.ptime {
  grid-area: ptime;
  border-bottom: solid 7px #0AAE41;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 8px 13px; 
  padding: 13px;
}
.buttons > button {
  /* margin: 15px 0px 0px 15px; */
  width: 195px;
  height: 105px;
  font-size: 24px;
  font-weight: 700;
}

.abort {
  grid-area: abort;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abort > button {
  background-color: #E42F2F;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  height: 70px;
  width: 410px;
}

.marked {
  background-color: #388DA6 !important;
  color: #FFF !important;
}

button {
  background-color: #DDDDDD;
  border: none;
  color: #000000;
  text-decoration:none;
  text-align: center;
  transition: 0.2s;
}
button:hover {
  border: solid 2px #388DA6;
  transition: 0.1s;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.01);
}
button:active {
  background-color: #aaa;
  transition: 0.1s;
}

